<% include ./partials/head %>

<table class="ui celled unstackable table">
  <thead>
    <tr><th>Team</th>
    <th>Time and Place</th>
  </tr></thead>
  <tbody>
    <% schedule.forEach(function(assignment, team) { %>
    <tr>
      <td data-label="Team"> <%= team + 1 %> </td>
      <td data-label="Time and Place"> <%= assignment %> </td>
    </tr>
  </tbody>
</table>

<% include ./partials/foot %>
