<% include ./partials/head %>

<h1 class="ui header">Current Schedule</h1>

<div class="content">
  <table id="calendar" class="ui small collapsing definition celled unstackable table">
    <thead><tr>
      <% calendar[0].forEach(function(cell) { %>
        <th><%= cell %></th>
      <% }) %>
    </thead></tr>
    <tbody>
      <% calendar.forEach(function(row, i) { %>
        <% if (i !== 0) { %>
        <tr>
          <% row.forEach(function(cell, i) { %>
            <td>
            <% if (cell && i !== 0) { %>
              Team 
            <% } %>
            <%= cell %></td>
          <% }) %>
        </tr>
        <% } %>
      <% }) %>
    </tbody>
  </table>
</div>

<% include ./partials/foot %>
